body {
  font-family: sans-serif;
  max-width: 132ch;
  margin: auto;
  --accent-color: royalblue;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}
header {
  background: var(--accent-color);
  margin-block: 10px;
  padding: 5px;
  color: white;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: baseline;
}
header ul,
nav {
  display: inline-block;
}
header li {
  display: inline-block;
  margin-right: 2em;
}
header a {
  color: currentColor;
}
nav li:first-child {
  font-size: 1.3rem;
  font-weight: bold;
}
h1 {
  font-size: 1.4rem;
}
#newpostForm *,
#loginForm *,
#registerForm * {
  display: block;
  margin-bottom: 10px;
}
#loginForm,
#registerForm {
  display: inline-block;
  margin-right: 100px;
}
a {
  color: currentColor;
}
a:hover {
  text-decoration-thickness: 0.2rem;
}
button {
  background: var(--accent-color);
  color: currentColor;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-block: 10px;
}
article {
  overflow-wrap: anywhere;
  border-bottom: 2px solid currentColor;
}
footer {
  background: var(--accent-color);
}
#msg {
  background: darkred;
  width: max-content;
  padding: 10px;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #1f1f1f;
    color: white;
  }
}
@media (max-width: 768px) {
  header {
    display: block;
  }
  body {
    width: 95vw;
  }
}
