body {
  font-family: sans-serif;
  max-width: 132ch;
  margin: auto;
  padding-inline: 10px;
  --accent-color: darkslateblue;
}
header {
  background: var(--accent-color);
  margin: 10px;
  padding: 5px;
  border-radius: 50px;
  color: white;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: baseline;
}
header ul,
nav {
  display: inline-block;
}
header li {
  display: inline-block;
  margin-right: 2em;
}
header a {
  color: currentColor;
}
nav li:first-child {
  font-size: 1.3rem;
}
h1 {
  font-size: 1.4rem;
}
#newpostForm *,
#loginForm *,
#registerForm * {
  display: block;
  margin-bottom: 10px;
}
#loginForm,
#registerForm {
  display: inline-block;
  margin-right: 100px;
}
a {
  color: currentColor;
}
a:hover {
  text-decoration-thickness: 0.2rem;
}
button {
  background: var(--accent-color);
  color: currentColor;
  border: none;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  body {
    background: hsl(250deg, 25%, 10%);
    color: white;
  }
}
