<header>
  <nav>
    <ul>
      <li><a href="/"><%= siteName %></a></li>
      <li><a href="/newpost">New post</a></li>
    </ul>
  </nav>
  <div></div>
  <ul>
    <% if (user) { %>
    <li>
      Logged in as
      <a href="/profile?id=<%= user.id %>"><%= user.name %></a>
      <% if (user.isAdmin) { %>(Admin)<% } %>
    </li>
    <li><a href="/logout">Logout</a></li>
    <% } else { %>
    <li><a href="/login">Login</a></li>
    <% } %>
  </ul>
</header>
