<%- include("head") -%>
<form method="post" id="newpostForm">
  <h1>Submit new post</h1>
  <label>
    Title
    <input name="title">
  </label>
  <label>
    Text
    <textarea name="text" cols="80" rows="20"></textarea>
  </label>
  <button>Submit</button>
</form>
<%- include("foot") -%>
